@import url('./styles/core/index.css');
@import url('./styles/components/index.css');

/* Variables globales */
:root {
  --color-primary: #2563eb;
  --color-secondary: #9333ea;
  --color-neutral: #6b7280;
  --color-white: #ffffff;
  --color-black: #000000;

  --font-sans: 'Inter', Arial, sans-serif;
  --font-serif: 'Merriweather', Georgia, serif;
}

.header {
  display: flex;
  justify-content: space-between;
}
