@import url('./styles/core/index.css');
@import url('./styles/components/index.css');

/* Variables globales */
:root {
  --color-primary: #2563eb;
  --color-secondary: #9333ea;
  --color-neutral: #6b7280;
  --color-white: #ffffff;
  --color-black: #000000;

  --font-sans: 'Inter', Arial, sans-serif;
  --font-serif: 'Merriweather', Georgia, serif;
}

a,
.link {
  position: relative;
  text-decoration: none;
}

a::after,
.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

a:hover::after,
.link:hover::after {
  width: 100%;
}

.searchIcon {
  width: 20px;
  height: auto;
  padding-bottom: 10px;
}

.gallery {
  display: flex;
}

.gallery img {
  max-width: 120px;
  height: fit-content;
}
