/* reset.css : clear browser default styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1;
  font-size: 100%;
  font-family: sans-serif;
  background: transparent;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select,
fieldset {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}
